.clearair-header {
    font-family: "Abril Fatface", cursive;
    font-size: 30px;
    color: #508b46;
    position: absolute;
    top: -10px;
    left: 10px;
  }
  
  .clearair-titulo {
    font-family: "Abril Fatface", cursive;
    font-size: 50px;
    color: #508b46;
  }
  
  .subtitulo {
    font-family: "Jomhuria", sans-serif;
    color: #492d0d;
    font-size: 30px;
  }
  
  /* Estilos generales del body */
  body {
    background-color: #cfd1be;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
  }
  
  /* Centrado del contenido */
  .container {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .input-field {
    display: block;
    width: calc(100% - 80px);
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #e7dcd0;
    color: #492d0d;
  }
  
  .button {
    background-color: #508b46;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 40px;
    font-family: "Jomhuria", sans-serif;
    cursor: pointer;
    width: 250px;
    height: 60px;
    margin: 20px auto;
    display: block;
    text-align: center;
  }
  
  .register-link {
    background-color: #508b46;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 30px;
    font-family: "Jomhuria", sans-serif;
    cursor: pointer;
    width: 182px;
    height: 42px;
    margin: 10px auto;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 42px;
  }
  
  .button:hover,
  .register-link:hover {
    background-color: #508b46;
  }
  
  .social-text {
    font-family: "Jomhuria", sans-serif;
    font-size: 25px;
    color: #492d0d;
    margin-bottom: 10px;
  }
  
  .social-buttons {
    margin: 15px 0;
  }
  
  .social-buttons img {
    width: 36px;
    height: 36px;
    margin: 0 10px;
    cursor: pointer;
  }
  
  /* Estilo del pie de página */
  .footer-section {
    background-color: #e7dcd0;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .footer-column {
    flex: 1;
    min-width: 150px;
    margin: 10px;
  }
  
  .footer-column h3 {
    font-family: "Jomhuria", sans-serif;
    font-size: 30px;
    color: #4d4d4d;
    margin-bottom: 10px;
  }
  
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-column li {
    margin-bottom: 5px;
  }
  
  .footer-column a {
    text-decoration: none;
    color: #4d4d4d;
    font-size: 14px;
  }
  
  .footer-column a:hover {
    color: #508b46;
  }
  
  .footer-line {
    margin: 20px 0;
    border-top: 1px solid #4d4d4d;
  }
  
  .footer-bottom {
    text-align: center;
    font-size: 14px;
    color: #4d4d4d;
  }
  